<section class="manifestation">
  <h2>MANIFESTATION PLANNER</h2>
  <div>
    <mat-form-field>
      <mat-label>I want to manifest</mat-label>
      <input class="input-long" matInput type="text" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>My prayer to the universe</mat-label>
      <input class="input-long" matInput type="text" />
    </mat-form-field>
  </div>
  <div>
    <h3>Vizualization</h3>
    <div>
      <mat-form-field>
        <mat-label>I see</mat-label>
        <input class="input-long" matInput type="text" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>I have</mat-label>
        <input class="input-long" matInput type="text" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>I feel</mat-label>
        <input class="input-long" matInput type="text" />
      </mat-form-field>
    </div>
    <h3>LIMITING BELIEFS I NEED GET RID OF:</h3>
    <button class="btn-icon"><mat-icon>plus_one</mat-icon></button>
    <ol>
      <li>
        <mat-form-field>
          <mat-label>GET RID OF</mat-label>
          <input class="input-long" matInput type="text" />
        </mat-form-field>
      </li>
    </ol>
  </div>
  <h3>MYDAILY AFFIRMATIONS</h3>
  <button class="btn-icon"><mat-icon>plus_one</mat-icon></button>
  <ol>
    <li>
      <mat-form-field>
        <mat-label>AFFIRMATIONS</mat-label>
        <input class="input-long" matInput type="text" />
      </mat-form-field>
    </li>
  </ol>

  <div class="action-todo">
    <div class="action-todo__action">
      <ol>
        <li>
          <mat-form-field>
            <mat-label>Action</mat-label>
            <input class="input-long" matInput type="text" />
          </mat-form-field>
        </li>
      </ol>
    </div>
    <div class="action-todo__todo">
      <mat-checkbox>
        <mat-form-field>
          <mat-label>To-do</mat-label>
          <input class="input-long" matInput type="text" />
        </mat-form-field>
      </mat-checkbox>
    </div>
  </div>
</section>
