@mixin theme-nav($nav-bg, $btn-bg, $btn-active-bg) {
  app-menu .nav-bg {
    background: $nav-bg;
  }

  .btn-menu {
    background: $btn-bg;

    &:hover {
      background: $btn-actvie-bg;
    }
  }
}
